.component {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 870px;
  overflow-x: hidden;
  border: 1px solid black;

  .leftArrow {
    position: relative;
    width: 0;
    z-index: 1;

  }

  .rightArrow {
    position: relative;
    right: 76px;
    width: 0;
    z-index: 1;
  }

  .line {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 870px;
    transition: 1.5s;

    img {
      width: 100%;
    }
  }
}
