.header {
  max-width: 1920px;
  width: 100%;
  height: 178px;
  margin: 0 auto;
  background-color: aqua;
  
}

.header_top {
  width: 100%;
  height: 122px;
  background-color: azure;
}

.header_bottom {
  width: 100%;
  height: 56px;
  background-color: red;
}
