a {
  text-decoration: none;
  color: black;
}

.header {
  max-width: 1920px;
  width: 100%;
  height: 178px;
  margin: 0 auto;
  font-size: 20px;
}

.headerTop {
  width: 100%;
  height: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.basicInformation {
  width: 444px;
  margin-right: 81px;
}

.basicInformationItem {
  margin-left: 52px;
}

.basicInformationItem:first-child {
  margin-left: 0;
}

.logoImg {
  width: 102px;
}

.address {
  max-width: 317px;
  width: 100%;
  margin-left: 65px;
}

.addressImg {
  width: 27px;
  height: 28px;
  margin-right: 16px;
  position:relative;
  top: -10px;
}

.addressText {
  display: inline-block;
 width: 258px;
}

.consumersCorner {
  margin-left: 37px;
}

.consumersCornerImg {
  height: 23px;
  margin-left: 16px;
}
.consumersCornerImg:first-child {
  margin-left: 0;
}

.headerBottom {
  width: 100%;
  height: 56px;
  border-top:1px solid 	#d3d3d3 ;
  border-bottom:1px solid 	#d3d3d3 ;
  
}

.nav {
  display: flex;
  justify-content: center;

 
}

.navItem {
  align-items: center;
  margin: 19px 0;
  margin-left: 52px;
  
}

.navItem:hover {
  padding-bottom: 15px;
  border-bottom: 2px solid orange ;
}

.navItem:first-child {
  margin-left: 0;
}