@import-normalize;

@import url("./assets/fonts/Roboto/roboto.css");

body {
  height: 100vh;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  display: none;
}

* {
  box-sizing: dsdssdborder-box;
}

#root {
  height: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #303236;
}
