a {
  text-decoration: none;
  color: 48494D;
}

.header {
  max-width: 1920px;
  width: 100%;
  height: 178px;
  margin: 0 auto;
  font-size: 20px;
}

.headerTop {
  width: 100%;
  height: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.basicInformation {
	width: 444px;
	margin-right: 81px;
	a {
		margin-left: 52px;
		&:first-child {
			margin-left: 0;
		}
	}
}

.logo img {
  width: 102px;
}

.address {
	max-width: 317px;
	width: 100%;
	margin-left: 65px;
	img {
		width: 27px;
		height: 28px;
		margin-right: 16px;
		position: relative;
		top: -10px;
	}
	span {
		display: inline-block;
		width: 258px;
	}
}

.consumersCorner {
	margin-left: 37px;
	img {
		height: 23px;
		&:last-child {
			height: 23px;
		}
	}
	a {
		margin-left: 16px;
		&:first-child {
			margin-left: 0;
		}
	}
}

.headerBottom {
  width: 100%;
  height: 56px;
  border-top:1px solid 	#d3d3d3 ;
  border-bottom:1px solid 	#d3d3d3 ;
}

.nav {
	display: flex;
	justify-content: center;
	a {
		align-items: center;
		margin: 19px 0;
		margin-left: 52px;
		&:hover {
			padding-bottom: 14px;
			border-bottom: 2px solid FF7931 ;
		}
		&:first-child {
			margin-left: 0;
		}
	}
}